[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arweave-python-client = "*"
cachetools = "*"
dataclasses-json = "*"
discord-webhook = "*"
fastapi = "*"
tinyman-py-sdk = {git = "https://github.com/tinymanorg/tinyman-py-sdk.git"}
py-algorand-sdk = "*"
pyairtable = "*"
pydantic = "*"
pydantic-settings = "*"
pymongo = "*"
python-dotenv = "*"
python-telegram-bot = "*"
requests = "*"
schedule = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"

[pipenv]
allow_prereleases = true
