[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cachetools = "5.0.0"
dataclasses-json = "0.5.7"
discord = "1.7.3"
discord-components = "2.1.2"
fastapi = "0.70.1"
tinyman-py-sdk = {git = "https://github.com/tinymanorg/tinyman-py-sdk.git"}
py-algorand-sdk = "1.8.0"
pyairtable = "1.2.0"
pydantic = "1.9.0"
pymongo = "4.1.0"
python-dotenv = "0.19.2"
python-telegram-bot = "13.13"
requests = "2.27.1"
schedule = "1.1.0"
uvicorn = "0.16.0"

[dev-packages]

[requires]
python_version = "3.9"
